.control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.85rem;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.control input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: #000000;
  background: rgb(214, 255, 239);
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}
.control.invalid label {
  color: #ca3e51;
}
.h2 {
  margin-bottom: 5rem;
  font-size: 20px;
  color: black;
}
.h2Profile {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
}
.button {
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 40%, rgba(2,0,36,1) 100%);
}
.button:hover,
.button:active {
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 130%, rgba(2,0,36,1) 100%);
  border-color: #ffffff;
}
.button:focus {
  outline: none;
}
.actions {
  text-align: center;
}
.total {
  color: rgb(0, 0, 0);
  text-align: center;
}

@media (min-width: 853px) {
  .control {
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
  }

  .h2Profile {
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
  }
}
