<!DOCTYPE html>
<html>
  <head>
    <style>
      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <p>Hi Shankar,</p>
    <p>
      Your Alien Propulsion E-ticket between (Earth) and (Mars) on 06/09/2022
      has been booked. Find the details below :
    </p>
    <div style="overflow-x: auto">
      <table
        style="border: 1px solid black; border-style: collapse; width: 90%"
      >
        <tr>
          <th style="text-align: left; padding: 8px">PNR No</th>
          <th style="text-align: left; padding: 8px">
            Alien Propulsion Booking ID
          </th>
        </tr>
        <tr style="background-color: #f2f2f2">
          <td style="text-align: left; padding: 8px">123</td>
          <td style="text-align: left; padding: 8px">1234567</td>
        </tr>
      </table>
    </div>

    <h3>Trip Details</h3>
    <div style="overflow-x: auto">
      <table
        style="border: 1px solid black; border-style: collapse; width: 90%"
      >
        <tr style="background-color: #41ecff">41ecff
          <th style="text-align: left; padding: 8px">Ship Name</th>
          <th style="text-align: left; padding: 8px">Class</th>
          <th style="text-align: left; padding: 8px">Boarding Station</th>
          <th style="text-align: left; padding: 8px">Arrival Station</th>
          <th style="text-align: left; padding: 8px">Journey Date</th>
          <th style="text-align: left; padding: 8px">Duration</th>
        </tr>
        <tr style="background-color: #b7f7fe">
          <td style="text-align: left; padding: 8px">HMS Voyager</td>
          <td style="text-align: left; padding: 8px">Economy</td>
          <td style="text-align: left; padding: 8px">Earth</td>
          <td style="text-align: left; padding: 8px">Mars</td>
          <td style="text-align: left; padding: 8px">06/09/2022</td>
          <td style="text-align: left; padding: 8px">90 hrs</td>
        </tr>
      </table>
    </div>

    <h3>Passenger Details</h3>
    <div style="overflow-x: auto">
      <table
        style="border: 1px solid black; border-style: collapse; width: 90%"
      >
        <tr>
          <th style="text-align: left; padding: 8px">Name</th>
          <th style="text-align: left; padding: 8px">Age</th>
          <th style="text-align: left; padding: 8px">Status</th>
          <th style="text-align: left; padding: 8px">Seat No</th>
        </tr>
        <tr style="background-color: #f2f2f2">
          <td style="text-align: left; padding: 8px">Shankar</td>
          <td style="text-align: left; padding: 8px">23</td>
          <td style="text-align: left; padding: 8px">CNF</td>
          <td style="text-align: left; padding: 8px">25A</td>
        </tr>
        <tr style="background-color: #f2f2f2">
          <td style="text-align: left; padding: 8px">Shankar</td>
          <td style="text-align: left; padding: 8px">23</td>
          <td style="text-align: left; padding: 8px">CNF</td>
          <td style="text-align: left; padding: 8px">25A</td>
        </tr>
      </table>
    </div>

    <h3>Fee Details</h3>
    <div style="overflow-x: auto">
      <table
        style="border: 1px solid black; border-style: collapse; width: 90%"
      >
        <tr>
          <th style="text-align: left; padding: 8px">Ticket Fare</th>
          <th style="text-align: left; padding: 8px">
            Alien Propulsion Service Charge
          </th>
          <th style="text-align: left; padding: 8px">Total</th>
        </tr>
        <tr style="background-color: #f2f2f2">
          <td style="text-align: left; padding: 8px">$525</td>
          <td style="text-align: left; padding: 8px">$10.5</td>
          <td style="text-align: left; padding: 8px">$535.5</td>
        </tr>
      </table>
    </div>
    <p>
      For any queries contact Alien Propulsion customer care at 05411002453.
    </p>
  </body>
</html>
