.button {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  margin: 10px;
  padding: 0.50rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.90rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);            
  box-shadow: 0 0 20px #eee;
  border: 1px solid white;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 2%;
}

.button:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.train_button {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  margin: 10px;
  padding: 0.50rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.90rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);            
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  box-shadow: 0 0 20px #eee;
  border: 1px solid white;
  margin-right: 2%;
  margin-top: 2%;
  margin: 2%;
}

.train_button:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.train_button:focus {
  outline: none;
}

.ticket_button {
  background-image: linear-gradient(to right, #8E0E00 0%, #1F1C18  51%, #8E0E00  100%);
  margin: 10px;
  padding: 0.50rem 1.25rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border: 1px solid white;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 2%;
}

.ticket_button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.ticket_button:focus {
  outline: none;
}

@media (min-width: 853px) {

  .button{
    font-size: 1rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .ship_button{
    font-size: 1rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .ticket_button{
    font-size: 1rem;
    padding: 0.50rem 1.50rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }
}
