.button {
  font: inherit;
  border: 1px solid #000000;
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 40%, rgba(2,0,36,1) 100%);
  color: rgb(255, 255, 255);
  padding: 0.50rem 1.5rem;
  cursor: pointer;
  font-size: 0.90rem;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 2%;
}

.button:hover,
.button:active {
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 130%, rgba(2,0,36,1) 100%);
  border-color: #ffffff;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.ship_button {
  font: inherit;
  border: 1px solid #000000;
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 40%, rgba(2,0,36,1) 100%);
  color: rgb(255, 255, 255);
  padding: 0.50rem 1.5rem;
  cursor: pointer;
  font-size: 0.90rem;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 2%;
  text-align: center;
  margin: 2%;
  font-size: 1rem;
}

.ship_button:hover,
.ship_button:active {
  background: -webkit-linear-gradient(-90deg, rgba(9,9,121,1) 0%, rgba(5,3,62,1) 130%, rgba(2,0,36,1) 100%);
  border-color: #ffffff;
}

.ship_button:focus {
  outline: none;
}

.ticket_button {
  font: inherit;
  border: 1px solid #000000;
  background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
  color: rgb(255, 255, 255);
  padding: 0.50rem 1.5rem;
  cursor: pointer;
  font-size: 0.90rem;
  border-radius: 30px;
  margin-right: 2%;
  margin-top: 2%;
  text-align: center;
  margin: 2%;
  font-size: 1rem;
}

.ticket_button:hover,
.ticket_button:active {
  background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 80%,rgba(109,0,25,1) 100%);
  border-color: #ffffff;
}

.ticket_button:focus {
  outline: none;
}

@media (min-width: 853px) {

  .button{
    font-size: 1.15rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .ship_button{
    font-size: 1.15rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }

  .ticket_button{
    font-size: 1.15rem;
    border-radius: 30px;
    margin-right: 2%;
    margin-top: 2%;
  }
}
