.ship {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    min-width: 25%;
    margin-right: 3%;
    margin-left: -18%;
    background-color: #ffffff;
  }

  .ship__actions {
    text-align: center;
    margin: 2%;
    font-size: 1rem;
  }
  
  .ship__description {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    width: 40px;
  }
  
  .ship h2 {
    color: #3a3a3a;
    font-size: 0.75rem;
    text-align: center;
    flex: 1;
    margin: 0 0.5rem;
    color: rgb(0, 0, 0);
  }
  
  .ship__price {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
    background-size: 200% auto;
    border: 1.75px solid rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 12px;
  }

  .ship__statusConfirmed{
    color: green;
    font-size: 0.25rem;
    font-weight: bold;
  }

  .ship__statusWaitlisted{
    color: orange;
    font-size: 0.25rem;
    font-weight: bold;
  }
  
  @media (min-width: 853px) {

    .ship {
      min-width: 25%;
      margin-right: 20%;
      margin-left: 0%;
    }
  
    .ship h2 {
      font-size: 1rem;
    }
  
    .ship__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }

    .ship__actions {
      font-size: 1.25rem;
      text-align: center;
      margin: 2%;
    }

    .ship__statusConfirmed{
      font-size: 0.70rem;
    }
  
    .ship__statusWaitlisted{
      font-size: 0.70rem;
    }
  }