@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(255, 255, 255);
}

body {
  margin: 0;
  background-color: #1c1d1c;
}
.centered {
  margin: 3rem auto;
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-text {
  color: #b40e0e;
}

